<%- include header %>
<div style="padding:30px">
</div>


<script language="JavaScript" type="text/javascript" >

    document.addEventListener("DOMContentLoaded", function() {

        // JavaScript form validation
        var checkPassword = function(str)
        {
            var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
            return re.test(str);
        };

        var checkForm = function(e)
        {

            if(this.password.value != "" && this.password.value == this.password2.value) {
                if(!checkPassword(this.password.value)) {
                    alert("Password must contain at least 6 characters, including UPPER/lowercase and numbers.");
                    this.password.focus();
                    e.preventDefault();
                    return;
                }
            } else {
                alert("Error: Please check that you've entered and confirmed your password!");
                this.password.focus();
                e.preventDefault();
                return;
            }
        };

        var myForm = document.getElementById("myForm");
        myForm.addEventListener("submit", checkForm, true);

        // HTML5 form validation
        var supports_input_validity = function()
        {
            var i = document.createElement("input");
            return "setCustomValidity" in i;
        }

        if(supports_input_validity()) {
            var pwd1Input = document.getElementById("field_pwd1");
            var pwd1Rule = "Password must contain at least 6 characters, including UPPER/lowercase and numbers.";
            pwd1Input.setCustomValidity(pwd1Rule);

            var pwd2Input = document.getElementById("field_pwd2");
            var pwd2Rule = "Please enter the same Password as above.";

            // input onchange event handlers
            pwd1Input.addEventListener("change", function() {
                this.setCustomValidity(this.validity.patternMismatch ? pwd1Rule : "");
                if(this.checkValidity()) {
                    pwd2Input.pattern = this.value;
                    pwd2Input.setCustomValidity(pwd2Rule);
                } else {
                    pwd2Input.pattern = this.pattern;
                    pwd2Input.setCustomValidity("");
                }
            }, false);

            pwd2Input.addEventListener("change", function() {
                this.setCustomValidity(this.validity.patternMismatch ? pwd2Rule : "");
            }, false);

        }

    }, false);

</script>


<body>


<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>


    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <div class="col-sm-6 col-sm-offset-3">
    <form id="myForm" action="/changepassword" method="post">
        <div class="form-group">
            <label>New password</label>
            <input id="field_pwd1" type="password" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="password">
        </div>
        <div class="form-group">
            <label>Confirm password</label>
            <input id="field_pwd2" type="password" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="password2">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <hr>


    <p>Go back to your <a href="/profile">profile</a>.</p>



</div>
</div>


</div>

</body>

