 <%- include header %>
 <div style="padding:50px">
 </div>


<button class = class="btn btn-primary" style="float: left;">New Post </button>
<div class="container">

<div class="panel panel-info">
  <div class="panel-heading">
    <a href="/post"><h3 class="panel-title">Panel title</h3> </a>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>


<div class="panel panel-danger">
  <div class="panel-heading">
    <a href="/post"><h3 class="panel-title">Panel title</h3> </a>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>

</div>