<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>eHealth</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/stylesheets/medical-clinic/style.css" media="screen" />
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="/stylesheets/medical-clinic/iecss.css" />
<![endif]-->
</head>
<body>
<%- include header %>
<div style="padding:40px">
</div>
<div id="main_container">
  <div class="header">
    <div id="logo"><a href=""><img src="/stylesheets/pics/ehealth.jpg" alt="" width="180" height="60" border="0" /></a></div>
    
  <div id="middle_box">
    <div class="middle_box_content"><img src="/stylesheets/medical-clinic/images/banner_content.jpg" alt="" /></div>
  </div>
  <div class="pattern_bg">
    <div class="pattern_box">

      <div class="pattern_content">
        <h1>Our <span class="blue">Goal</span></h1>
        <p class="pat">Become THE BEST</p>
      </div>
    </div>
    <div class="pattern_box">
      <div class="pattern_content">
        <h1>Why <span class="blue"> Choose Us</span></h1>
        <p class="pat">Because we are THE BEST</p>
      </div>
    </div>
  </div>
  
</div>
</body>
</html>
