<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:0px; }
	</style>
	<style>
        body
        {
            background: url("/stylesheets/pics/back.jpg");
                        -webkit-background-size: cover; /* For WebKit*/
                        -moz-background-size: cover;    /* Mozilla*/
                        -o-background-size: cover;      /* Opera*/
                        background-size: cover;         /* Generic*/

        }
        </style>
</head>
<body>
<div style="position:relative; left: 120px;">
  <img src="/stylesheets/pics/ehealth.jpg" width="800" height="150" style="style="position:relative; left: 60px;"/>
</div>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Login</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Login</button>
	</form>

	<hr>

	<p>Need an account? <a href="/signup">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>



</div>
</div>
</body>
</html>