<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>


	<!-- messi message -->
	<!-- messi href links -->
        	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
                <link href="/stylesheets/messi/messi.css" rel="stylesheet">
                <script src="/stylesheets/messi/messi.js"></script>
	<script>
    	jQuery.noConflict();
    	(function($) {
              $(document).ready(function() {
                new Messi('Give it a try by logging in the default account as a patient', {autoclose: 3000, center: false, viewport: {top: '70px', left: '500px'}});

                 });


        })(jQuery);

        </script>


</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Login</h1>

	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" value="abc@gmail.com" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" value="abc" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Login</button>
	</form>

	<hr>

	<p>Need an account? <a href="/signup">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>



</div>
</div>
</body>
</html>