 <%- include header %>
 <div style="padding:30px">
  </div>
<div class="container">
	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
	</div>
</div>


<form action="/profile" method="post" accept-charset="utf-8">
<div class="col-md-6 col-md-offset-3">
		  <table class="table table-bordered">
	          <tbody style="text-align:left;">
			    <tr>
				    <th style="width: 150px;">First Name: </th>
				    <td><input name="firstName" size = "50" data-type="text" data-placement="right" required></a></td>
			    </tr>
			    <tr>
                    <th style="width: 150px;">Last Name: </th>
                	<td><input name="lastName" size = "50" data-type="text" data-placement="right" required></a></td>
                </tr>
			    <tr>
                    <th style="width: 150px;">Yelp ID: </th>
                	<td><input name="yelpId" size = "50" data-type="text" data-placement="right" value=  <%= person.yelp_id %>  required></a></td>
                </tr>
			    <tr>
                    <th style="width: 150px;">Phone Number: </th>
                	<td><input name="phone" size = "50" data-type="text" data-placement="right" required></a></td>
                </tr>
                <tr>
                    <th style="width: 150px;">Department: </th>
                	<td><input name="department" size = "50" data-type="text" data-placement="right" required></a></td>
                </tr>
			    <tr>
                    <th style="width: 150px;">Address: </th>
                	<td><input name="address" size = "50" data-type="text" data-placement="right" required></a></td>
                </tr>


		    </tbody>
	    </table>
	    <button type="submit" class="btn btn-primary">Submit</button>

</form>
<br>
 <p>Go back to your <a href="/profile">profile</a>.</p>