<%- include header %>
 <div style="padding:50px">
 </div>

 <div class="container">
 <div>
 <form>
 Post Title:
 <div style="padding:5px"></div>
 <input type="text" class="form-control" placeholder="Title">
 <div style="padding:5px"></div>
 <textarea class="form-control" rows="10" placeholder="Type Here ..."></textarea>
 </form>
 <div style="padding:5px"></div>
 <div class="radio">
   <label>
     <input type="radio" name="optionsRadios" id="q&a" value="q&a" checked>
     Q and A
   </label>
 </div>
 <div class="radio">
   <label>
     <input type="radio" name="optionsRadios" id="tip" value="tip">
     Health Tip
   </label>
 </div>
 <div style="padding:5px"></div>
 <button class="btn btn-primary" style="float: left;">Submit </button>
 </div>

 </div>